@model Core.TaxCourse

@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_CourseSteps.cshtml";
}

<div class="stp_rt">
    <div id="step2" class="step_m" style="display:block;">
        @using (@Html.BeginForm("Description", "Admin", FormMethod.Post, new { @id = "videosform" }))
        {
            <input type="hidden" name="SectionID" value="@Model.SectionID" />
            <input type="hidden" name="Id" value="@Model.Id" />
            <h3 class="stp_title">
                <span>@Model.SectionTitle</span>
                <div class="edt_btns">
                    <span>@Html.ActionLink("Add section test", "AddSectionTest", "Admin", new { Id = Model.Id, SectionID = Model.SectionID }, new { @class = "btn green", style = "background: rgba(0, 0, 0, 0.25) !important;" })<i class="fa fa-plus-circle"></i></span>
                   <span> <input type="reset" value="Cancel" name="Cancel" class="btn ed_sh btn_cl"><i class="fa fa-times ed_sh"></i></span>
                    <span><input type="submit" id="btnUpdate" value="Update" name="Command" class="btn ed_sh"><i class="fa fa-check ed_sh"></i></span>
                    <span><input type="submit" class="btn dlt" value="Delete" name="Command" style="background: rgba(255, 0, 0, 0.54);"><i class="fa fa-trash-o"></i></span>
                    <span><input type="button" class="btn ed_hd" value="Edit"><i class="fa fa-pencil"></i></span>
                </div>
            </h3>
            <div class="stp_bdy">
                <iframe src=@Model.Text></iframe>
                <div id="vd_m">@Html.TextBoxFor(m => m.Text, new { @id = "File" })</div>
            </div>
            <div class="nxt_prv">
                <span><i class="fa fa-arrow-circle-left"></i><input type="button" onclick="PreviousClick();" class="btn grey" value="Previous" /></span>
                <span><i class="fa fa-arrow-circle-right"></i><input type="button" onclick="NextClick();" class="btn blue_btn" value="Next" /></span>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#@Model.SectionID').attr('class', 'active');
    });
    function NextClick() {
        
        var url = $('#@Model.SectionID').next().find('a').attr('href');
        if (url !== undefined) {
            window.location = url;
        }
    }
    function PreviousClick() {
        var url = $($('#@Model.SectionID').parent().parent().find('ul li')[$('#@Model.SectionID').index() - 1]).find('a').attr('href');
        if (url !== undefined && url.indexOf("Admin/AddNewTest") != 1) {
            window.location = url;
        }
    }  

</script>

